@import "./sass/variables/variables.scss";
@import "./sass/layout/global";
@import "sass/layout/sidebar";
.parent {
    .child {
        display: flex;
        transform: rotate(30deg);
        -webkit-transform: rotate(30deg);
        -moz-transform: rotate(30deg);
        -ms-transform: rotate(30deg);
        -o-transform: rotate(30deg);
    }
}